@import "../../var";
.home {
  display: flex;

  &__app {
    width: 33.33%;
  }

  &__users{
    width: 33.33%;
    padding-right: 22px;
    .tuday{
      &__work {
        width: 100%;
        margin-right: 50px;
      }
      &__work-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        color: var(--attention);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;

        .circle{
          width: 12px;
          height: 12px;
          background: var(--green);
          border-radius: 50%;
          margin-right: 15px;
        }
      }
      &__work-body {
        height: 75vh;
        overflow: auto;
        padding-right: 10px;
      }
      &__work-card {
        display: flex;
        flex-wrap: wrap;
        background: var(--white);
        margin-bottom: 15px;
        box-shadow: 0 1px 2px rgb(9 45 147 / 10%);
        border-radius: 3px;
      }
      &__work-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--bg);
        padding: 15px 22px;
        img {
          margin-right: 14px;
        }
        p {
          margin-right: auto;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 130%;
          color: var(--black);
        }
        span {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          color: #81839c;
        }
      }
      &__work-content {
        padding: 15px 22px;
        padding-right: 5px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          width: 100%;
        }
        a {
          color: #b4b8cc;
          width: 50%;
        }
      }
      &__work-time {
        width: 30%;
        padding: 15px 22px;
        padding-left: 0;
        padding-right: 22px;

      }
      &__work-timer {
        width: 100%;
        padding: 5px;
        border-radius: 58px;
        font-size: 14px;
        line-height: 140%;
        border: 1px solid var(--green);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--green);
      }
      &__work-content-info{
        display: flex;
        align-items: center;
        width: 50%;
        color: var(--green);

        span{
          width: 16px;
          height: 16px;
          display: block;
          margin-right: 5px;
        }
      }
    }
    .task{
      &__title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        color: var(--attention);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
      }
      &__card {
        h3{
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          color: var(--light8);
          margin-bottom: 10px;
        }
      }
      &__card-body{
        background: var(--white);
        border: 1.3px solid var(--bg);
        box-sizing: border-box;
        box-shadow: 0px 2px 3px rgba(29, 29, 29, 0.04);
        border-radius: 5px;
      }
      &__card-head {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        align-items: center;
        border: 1px solid var(--bg);
        margin-bottom: 12px;
        cursor: pointer;
        svg{
          transform: rotate(180deg);
          &.active{
            transform: rotate(0deg);
          }
        }
      }
      &__card-img{
        height: 30px;
        width: 30px;
        margin-right: 15px;
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .no-img{
          width: 100%;
          height: 100%;
          color: var(--white);
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--attention);
        }
      }
      &__card-name{
        margin-right: auto;
        p{
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          color: var(--black);

        }
        span{
          font-size: 11px;
          font-weight: 400;
          line-height: 15px;
          color: var(--gray6);

        }
      }
      &__body {
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        &.active{
          padding-bottom: 20px;
        }
      }

      &__body-title {
        font-size: 11px;
        font-weight: 400;
        line-height: 15px;
        color: var(--light8);
        padding: 0 20px;
        margin-bottom: 6px;
      }

      &__body-worked {
        margin: 0 20px;
        padding: 15px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #29cc9733;
        height: 100%;
        &.active{
          padding: 10px 15px;
          margin-bottom: 20px;
        }
        &.pause{
          background: var(--bg);
          margin-top: 20px;

        }
        p{
          color: var(--gray4);
        }
      }

      &__body-pause {
        margin-right: 20px;
        cursor: pointer;
      }

      &__body-work-name {
        margin-right: auto;
        p {
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          color: var(--attention);
          margin-bottom: 10px;
          &.active{
            margin-bottom: 0;
          }
        }

        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: var(--gray4);
          border-bottom: 1px solid var(--light8);
          cursor: pointer;
        }
      }

      &__body-time {
        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: var(--attention);
          text-align: right;
          margin-bottom: 8px;
          display: block;
          &.active{
            margin-bottom: 0;
          }
        }
        div{
          display: flex;
        }
        button {
          border: none;
          background: none;
          margin-left: 13px;
          cursor: pointer;
          position: relative;
        }
      }

      &__body-not-worked {
        padding: 2px 15px;
        background-color: var(--waitO);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--wait);
        cursor: pointer;
        svg{
          margin: 0 8px;
          &.active{
            transform: rotate(180deg);
          }
        }
      }
      &__body-no-tasks{
        background: var(--error);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 15px;
        border-radius: 5px;
        margin:0 15px;
        margin-bottom: 20px;

        p{
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          color: var(--white);
        }
        button{
          border: none;
          border-bottom: 1px solid var(--white);
          color: var(--white);
          background: none;
          //styleName: H5;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }
      &__btn{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: auto;
        button{
          padding: 13px 20px;
          border: 1px solid var(--attentionBg);
          background: var(--attentionBg);
          color: var(--whiteText);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
          border-radius: 4px;
          cursor: pointer;
          white-space: nowrap;
          svg{
            margin-right: 10px;
          }
        }
      }
    }

  }
  &__projects-head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    color: var(--attention);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;

  }
  &__projects{
    width: 33.33%;
    padding-left: 22px;

    &-content{
      width: 100%;
      height: 75vh;
      overflow: auto;
    }
    &-card{
      width: 100%;
      background: var(--white);
      margin-bottom: 15px;
      box-shadow: 0px 1px 2px rgba(9, 45, 147, 0.1);
      border-radius: 3px;
    }
    &-card__head{
      display: flex;
      justify-content: space-between;
      padding: 13px 20px;
      border-bottom: 1px solid var(--bg);
    }
    &-card__img{
      margin-right: 15px;
      img{
        height: 47px;
        width: 47px;
        border-radius: 3px;
      }
      .no_img{
        height: 47px;
        width: 47px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--whiteText);
        font-size: 22px;
      }
    }
    &-card__info{
      margin-right: auto;
      display: flex;
      flex-direction: column;
      p{
        color: var(--black);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 4px;
      }
      span{
        color: var(--gray6);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
    &-card__deadline{
      text-align: center;
      &.deadline{
        span{
          color: var(--white);
          display: inline-flex;
          border: 1px solid transparent;
          background: var(--errorO);

        }
      }
      p{
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        color: var(--light8);
        margin-bottom: 5px;
      }
      span{
        color: var(--light8);
        display: inline-flex;
        padding: 2px 13px;
        border: 1px solid var(--light8);
        border-radius: 58px;
      }
    }
    &-card__dev{
      display: flex;
      padding: 24px;
      p{
        margin-right: auto;
        color: var(--gray6);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

      }
      .img{
        cursor: pointer;
        img{
          height: 21px;
          width: 21px;
          border-radius: 3px;
          margin-right: 7px;
        }
        .no_img{
          height: 21px;
          width: 21px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--whiteText);
          margin-right: 7px;
        }
      }
    }
  }
  .message{
    &__title{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      color: var(--attention);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
    }
    &__body{
      height: 75vh;
      overflow: auto;
      padding-right: 10px;
    }
    &__card{
      width: 100%;
      background: var(--white);
      margin-bottom: 15px;
      box-shadow: 0 1px 2px rgba(9, 45, 147, 0.1);
      border-radius: 3px;
      display: flex;
      padding: 15px 20px;
    }
    &__img{
      width: 70px;
      height: 70px;
      border-radius: 5px;
      overflow: hidden;
      margin-right: 10px;
      flex-shrink: 0;
      img{
        width: 100%;
        height: 100%;
      }
      .no_img{
        width: 100%;
        height: 100%;
        font-size: 36px;
        color: var(--whiteText);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__content{
      width: 100%;
    }
    &__name-data{
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p{
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: var(--black);
      }
      span{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: var(--gray6);
      }
    }
    &__task{
      margin-bottom: 8px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: var(--light8);
    }
    &__text{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: var(--black);
      word-break: break-all;

      pre{
        white-space: pre-wrap;
      }
    }
    &__file{
      margin-top: 14px;
      padding-top: 10px;
      border-top: 1px solid var(--bg);
      display: flex;
      flex-wrap: wrap;

      a{
        color: var(--attention);
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 10px;
        span{
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin-right: 7px;
        }
        svg{
          width: 15px;
          height: 15px;
        }
        small{
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 15px;
        }
      }
    }
  }
}
