@import "./var";
.alert{
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  color: $white;
  z-index: 100000000;

  &.error{
    background: $error;
  }
  &.notification{
    background: $attention;
  }
}