@import "./var";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
    outline: none;
}
body{
    background: var(--bg);
}

a {
    text-decoration: none;
}

._container {
    max-width: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555 ;
}

.pagination{
    width: 100%;
    height: auto;
    ul {
        display: flex;
        align-items: center;
        margin-right: auto;
        list-style: none;
        li {
            &:last-child,
            &:first-child{
                display: none;
            }
            &.active {
                a{
                    background: var(--attention);
                    color: var(--white);
                    border: 1px solid var(--attention);
                }
            }
            a {
                cursor: pointer;
                padding: 0;
                width: 40px;
                height: 40px;
                margin: 5px;
                background: none;
                color: var(--black);
                border: 1px solid var(--light8);
                border-radius: 4px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
    }
}