@import "./components/select";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
    outline: none;
}
body{
    background: $bg;
}

a {
    text-decoration: none;
}

._container {
    max-width: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555 ;
}