$attention: #4473f6;
$error: #e53750;
$wait: #f5c544;
$purple: #a38ce8;
$green: #29cc97;
$black: #282b3d;
$gray4: #575a64;
$gray6: #81839c;
$light8: #b4b8cc;
$Light9: #cbcfe6;
$bg: #f5f6fa;
$white: #fff;
$white2: #a9b6ff;

$bs: 0px 1px 2px rgba(9, 45, 147, 0.1);
$bsactive: 0px 8px 15px rgba(9, 45, 147, 0.1);

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 140%;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
}

h4.bold {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 140%;
}

h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}

h5.bold {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
}

h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 125%;
}
