@import "../var";

.chat {
  width: 75%;
  &__head{
    background: var(--white);
    padding: 20px;
  }
  &__head-title{
    font-size: 14px;
    color: var(--black);
  }
  &__head-subtitle{
    font-size: 11px;
    color: var(--gray6);
  }
  &__body {
    background: var(--white);
    border: 1px solid var(--bg);
    box-sizing: border-box;
    box-shadow: $bs;
    border-radius: 5px;
    position: relative;
    .loading{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10000;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
      }

    }
  }

  &__message {
    padding: 40px;
    padding-bottom: 30px;
    height: 400px;
    overflow: auto;
    position: relative;
    ul {
      list-style: none;

      li {
        padding: 10px 10px 10px 20px;
        background: var(--white);
        margin-bottom: 5px;
        border: 1px solid var(--Light9);
        box-sizing: border-box;
        word-break: break-all;
        box-shadow: 0px 2px 3px rgba(29, 29, 29, 0.04);
        border-radius: 0px 10px 10px 10px;
        color: var(--black);
        pre{
          white-space: pre-wrap;
        }
      }
    }
  }

  &__message-list {
    max-width: 500px;
    &.you {
      margin-left: auto;
      .avatar{
        margin-left: auto;
      }
      ul{
        li{
          background: var(--bg);
          img{
            width: 100%;
          }
        }
      }
    }
  }

  .avatar {
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
    }

    &__noImg {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #000;
      color: var(--white);
    }

  }
  .file__container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
  }
  .files{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    button{
      border: none;
      cursor: pointer;
      background: none;
      margin-right: 5px;
    }
    a{
      display: flex;
      margin-right: 20px;
      font-size: 14px;
      align-items: center;
      svg{
        margin-right: 5px;
      }
      span{
        font-size: 11px;
        margin-left: 5px;
      }
    }
  }
  &__form {
    padding: 20px 50px 30px 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: var(--white);

    .quillWrapper{
      width: 100%;
      height: 160px;

      .ql-toolbar.ql-snow{
        border: none;
        border-top: 1px solid var(--light8);
        display: flex;
      }
      .ql-container.ql-snow{
        border: none;
      }
      .ql-container{
        height: 110px;
      }
    }
    .ql-editor{
      min-height: 30px;
      border: 1px solid var(--bg);

      img{
        width: 100px;
      }
    }
    .ql-formats{
      &:nth-child(2){
        margin-right: auto !important;
      }
    }
    .ql-align{
      display: none !important;
    }

    textarea {
      width: 100%;
      border: none;
      border-top: 1px solid var(--light8);
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;

    }

    .send {
      border: none;
      background: none;
      margin-left: auto;
      cursor: pointer;
      padding-top: 15px;
      svg{
        circle{
          fill: var(--white);
          stroke: var(--attention);
        }
      }
      &.add_file{
        position: absolute;
        bottom: 15px;
        left: 15px;
        cursor: pointer;
        padding-top: 0px;
        label{
          cursor: pointer;
        }
        input{
          display: none;
        }
      }
    }
  }


}