@import "../var.scss";

.header {
  padding: 50px;
  display: flex;

  width: 100%;
  justify-content: space-between;
  &__dropdown{
    position: absolute;
    top: calc(100% + 15px);
    width: max-content;
    background: var(--white);
    right: 0;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 8px 15px rgba(9, 45, 147, 0.15);

    ul{
      list-style: none;
      li{
        border-bottom: 1px solid var(--light8);
        padding: 6px 0;
        &:last-child{
          border: none;
          padding-bottom: 0;
        }
        &:first-child{
          padding-top: 0;
        }
        a{
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
          color: var(--black);
        }
      }

    }
  }
  &__dropdown-list{

  }
  .page_info {
    display: flex;
    flex-direction: column;

    .page_title {
      display: flex;

      .back_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
        a{
          margin-right: 15px;
          margin-top: 7px;
          svg{
            rect{
              &:first-child{
                fill: var(--white);
              }
              &:last-child{
                stroke: var(--black);
              }
            }
            path{
              fill: var(--black);
              stroke: var(--black);
            }
          }
        }
      }

      .page_name {
        font-size: 28px;
        line-height: 130%;
        color: var(--black);
        font-weight: bold;
      }
    }

    .page_subtitle {
      font-style: normal;
      font-weight: normal;
      color: var(--light8);
      a{
        color: #81839C;
      }
    }
  }

  .user_info {
    display: flex;

    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: solid 2px var(--light8);

      div {
        padding-right: 31px;
        cursor: pointer;
      }
    }

    .user_credentials {
      cursor: pointer;
      display: flex;
      padding-left: 28px;
      position: relative;
      user-select: none;

      .user_image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        border-radius: 3px;
        overflow: hidden;

        img {
          width: 42px;
          height: 42px;

        }
        .user__img{
          width: 42px;
          height: 42px;
          border-radius: 3px;
          color: var(--white);
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 36px;
          letter-spacing: 0em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .user_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .user_name {
          font-weight: bold;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--black);

          svg {
            margin-left: 11px;
          }
        }

        .user_role {
          font-weight: normal;
          font-size: 11px;
          color: var(--gray6);
        }
      }
    }
  }
}
