@import "../var.scss";

.header {
  padding: 50px;
  display: flex;

  width: 100%;
  justify-content: space-between;
  &__dropdown{
    position: absolute;
    top: calc(100% + 15px);
    width: max-content;
    background: var(--white);
    right: 0;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 8px 15px rgba(9, 45, 147, 0.15);

    ul{
      list-style: none;
      li{
        border-bottom: 1px solid var(--light8);
        padding: 6px 0;
        &:last-child{
          border: none;
          padding-bottom: 0;
        }
        &:first-child{
          padding-top: 0;
        }
        a{
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
          color: var(--black);
        }
      }

    }
  }
  &__dropdown-list{

  }
  .page_info {
    display: flex;
    flex-direction: column;

    .page_title {
      display: flex;

      .back_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
        a{
          margin-right: 15px;
          margin-top: 7px;
          svg{
            rect{
              &:first-child{
                fill: var(--white);
              }
              &:last-child{
                stroke: var(--black);
              }
            }
            path{
              fill: var(--black);
              stroke: var(--black);
            }
          }
        }
      }

      .page_name {
        font-size: 28px;
        line-height: 130%;
        color: var(--black);
        font-weight: bold;
      }
    }

    .page_subtitle {
      font-style: normal;
      font-weight: normal;
      color: var(--light8);
      a{
        color: #81839C;
      }
    }
  }

  .user_info {
    display: flex;

    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: solid 2px var(--light8);

      >div {
        padding-right: 31px;
        cursor: pointer;
      }
    }

    .user_credentials {
      cursor: pointer;
      display: flex;
      padding-left: 28px;
      position: relative;
      user-select: none;

      .user_image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        border-radius: 3px;
        overflow: hidden;

        img {
          width: 42px;
          height: 42px;

        }
        .user__img{
          width: 42px;
          height: 42px;
          border-radius: 3px;
          color: var(--white);
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 36px;
          letter-spacing: 0em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .user_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .user_name {
          font-weight: bold;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--black);

          svg {
            margin-left: 11px;
          }
        }

        .user_role {
          font-weight: normal;
          font-size: 11px;
          color: var(--gray6);
        }
      }
    }
  }
  .notification {
    position: relative;
    z-index: 3;
    &._active{
      &::before{
        opacity: 1;
        visibility: visible;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 120%;
      right: 33%;
      border: 10px solid rgb(255, 255, 255);
      transform: rotate(-45deg) translateY(50%);
      z-index: -1;
      opacity: 0;
      visibility: hidden;
    }

    &__dorpdown {
      max-height: 265px;
      overflow-x: auto;
      width: 465px;
      position: absolute;
      left: 50%;
      top: calc(100% + 20px);
      transform: translateX(-50%);
      background: var(--white);
      border-radius: 10px;
      box-shadow: $bsactive;

      &::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
        border: 1px solid #CBCFE6;
      }
      &::-webkit-scrollbar-track {
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: #B4B8CC;
        border-radius: 5px;
        border: 1px solid #CBCFE6;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 5px;
        border: 1px solid #CBCFE6;
      }
    }

    &__dorpdown-card {
      display: flex;
      padding: 14px;
      width: 100%;
    }

    &__dorpdown-img {
      margin-right: 12px;
      width: 11%;
      img{
        width: 100%;
        height: 100%;
      }
      .no_img{
        height: 47px;
        width: 47px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--whiteText);
        font-size: 22px;
      }
    }

    &__dorpdown-name {
      width: 70%;
      margin-right: auto;
      p {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 130%;
        color: #4473f6;
        margin-right: 7px;
      }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #81839c;
      }
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #b4b8cc;
        display: inline-block;
        margin: 0;
        word-break: break-all;
      }
    }

    &__dorpdown-date {
      width: 19%;
      span {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        text-align: right;
        color: #b4b8cc;
      }
    }
  }
}
