@import "../var";
.select{
  position: relative;
  width: 100%;
  user-select: none;
  cursor: pointer;
  &[disabled="disabled"]{
    cursor: no-drop;
    pointer-events:none;
    opacity: 0.7;
  }
  &.invalid{
    +label{
      color: var(--error);
    }
    .select__value{
      border-color: var(--error);

    }
    &.select__text{
      color: var(--error);
    }
  }
  &__value{
    display: flex;
    justify-content: space-between;
    border: 1px solid #cbcfe6;
    position: relative;
    border-radius: 4px;
    background: var(--white);
    padding: 16px 15px 10px 15px;
    min-height: 45px;
  }
  &__text{
    font-size: 14px;
    color: var(--black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
  }
  &__icon{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 10px !important;
    height: 10px !important;;
    img{
      width: 100% !important;
      height: 100% !important;
      transition: all 0.3s ease;
      position: absolute;
      top: 0;
      &.open{
        transform: rotate(180deg);
      }
    }
  }
  &__list{
    border: 1px solid #cbcfe6;
    position: absolute;
    top: 100%;
    width: 100%;
    border-radius: 4px;
    max-height: 200px;
    overflow: auto;
    background: var(--white);
    z-index: 10000;

    &::-webkit-scrollbar{
      width: 4px;
    }
    &::-webkit-scrollbar-track{
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb{
      background: #fff;
      border: 1px solid #cbcfe6;
    }
    &::-webkit-scrollbar-thumb:hover{
      background: #4473F6;
    }
  }
  &__item{
    padding: 7px 15px;
    border-bottom: 1px solid #cbcfe6;
    font-size: 18px;
    color: var(--black);
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
    &.active{
      background: #41b883;
      color: #fff;
      border-bottom: 1px solid #41b883;
    }
    &:hover{
      background: #4473F6;
      color: #fff;
      border-bottom: 1px solid #4473F6;
    }
    &:last-child{
      border-bottom: none;
    }
  }
}