@import "../var";
.payments{
  width: 100%;
  margin-bottom: 50px;
  &__head{
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: $light8;
    padding-bottom: 6.5px;
    border-bottom: 1px solid $light8;
    margin-bottom: 20px;

  }
  &__date{
    width: 16.7%;
    padding-right: 30px;
    padding-left: 25px;
  }
  &__comments{
    width: 19.5%;
    padding-right: 30px;
  }
  &__step{
    width: 18.2%;
    padding-right: 30px;
  }
  &__amount{
    width: 11.9%;
    padding-right: 30px;
  }
  &__dept{
    width: 9.5%;
    padding-right: 30px;
  }
  &__payment{
    width: 16.2%;
    padding-right: 30px;
    display: flex;
    align-items: center;
    img{
      width: 34px;
      height: 34px;
      margin-right: 10px;
    }
  }
  &__btn{
    width: 8%;
    padding-right: 65px;
    display: flex;
    justify-content: space-between;
    button{
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  &__form{
    background: $white;
    padding: 15px 0;
    box-shadow: $bs;
    border-radius: 3px;
    margin-bottom: 5px;
    &:hover{
      box-shadow: $bsactive;
    }
    form{
      display: flex;
    }
  }
  &__form-group{
    position: relative;
    .selected-option{
      top: 16px;
      width: calc(100% - 50px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .placeholder{
      display: none !important;
    }
    input{
      width: 100% !important;
      display: block;
      border: 1px solid $Light9;
      padding: 16px 15px 10px 15px;
      border-radius: 5px;
      &::placeholder{
        color: $light8;
      }
      &.invalid{
        border: 1px solid $error;
        +label,
        &::placeholder{
          color: $error;
        }
      }
      &:focus {
        +label{
          top: 0;
          font-size: 11px;
          line-height: 15px;
        }
      }
    }
    label{
      position: absolute;
      top: 13px;
      left: 15px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: $light8;
      transition: 0.2s;
      user-select: none;
      &.focus{
        top: 0;
        font-size: 11px;
        line-height: 15px;
      }
    }
    .error{
      color: $error;
    }

  }
  &__list{
    display: flex;
    align-items: center;
    background: $white;
    padding: 15px 0;
    box-shadow: $bs;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
    &:hover{
      box-shadow: $bsactive;
    }
    .payments__date{
      font-weight: 700;
      color: $black;
    }
    .payments__comments{
      font-weight: 400;
      color: $attention;
    }
    .payments__step{
      font-weight: 400;
    }
    .payments__amount{
      font-weight: 700;
      color: $green;
    }
    .payments__dept{
      font-weight: 700;
      color: $error;
    }
    .payments__payment{
      font-weight: 400;
    }
  }
}