@import "../var.scss";

.projects {
  &__head {
    display: flex;
    padding-bottom: 7px;
    border-bottom: 1px solid $Light9;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: $light8;
    margin-bottom: 10px;
    &__name {
      width: 20.53%;
      padding-left: 66px;

    }
    &__description {
      width: 25.24%;
    }
    &__deadline {
      width: 18.82%;
    }
    &__status {
      width: 19.67%;
    }
    &__paid {
      width: 19.75%;
    }
  }
  &__body {
    &-element {
      display: flex;
      background-color: $white;
      align-items: center;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 5px;
      box-shadow: $bs;
      transition:all 0.3s;
      border-radius: 3px;
      position: relative;
      width: 100%;
      padding: 10px 0;
      &:hover{
        box-shadow: $bsactive;
      }

    }
    &__name {
      width: 20.53%;
      padding-left: 66px;
      display: flex;
      align-items: center;
      padding-right: 10px;
      &-text {
        font-weight: 700;
        line-height: 18px;
      }
    }
    &__description {
      width: 25.24%;
      padding-right: 10px;
    }
    &__deadline {
      width: 18.82%;
      padding-right: 10px;
    }
    &__status {
      width: 19.67%;
      padding-right: 10px;
      display: flex;
      align-items: center;
    }
    &__paid {
      width: 19.75%;
      padding-right: 10px;
      &.progress__bad{
        color: $error;
      }
      &.progress__good{
        color: $wait;
      }
      &.progress__ok{
        color: $green;
      }
    }
  }
  &__btn{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  &__btn-list{
    display: flex;
    align-items: center;
    button{
      cursor: pointer;
      border: none;
      background: none;
      margin-right: 8px;
      svg{
        path{
          transition: 0.3s;
        }
      }
      &:hover{
       svg{
         path{
           fill: $gray4;
         }
       }
      }
    }
  }
  &__btn-right{
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    button{
      margin-right: 0;
      margin-left: 20px;
    }
  }
  &__body__name-logo{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
    border-radius: 7px;

    img,
    div{
      width: 100%;
      height: 100%;
    }
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      color: $white;
      background: $black;
    }
  }
  &__progress{
    width: 150px;
    height: 10px;
    margin-right: 22px;
    border-radius: 15px;
    position: relative;
    span{
      position: absolute;
      width: 50%;
      height: 100%;
      border-radius: 15px;
    }
    &.progress__bad{
      background: rgba(229, 55, 80, 0.3);
      border: 1px solid $error;
      span{
        background: $error;
      }
    }
    &.progress__good{
      background: rgba(245, 197, 68, 0.3);
      border: 1px solid $wait;
      span{
        background: $wait;
      }

    }
    &.progress__ok{
      background: rgba(41, 204, 151, 0.3);
      border: 1px solid $green;
      span{
        background: $green;
      }

    }
  }
  &__controls{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__active{
    margin-left: auto;
    color: $attention;
    border-bottom: 1px solid $attention;
    margin-right: 20px;
    padding: 2px 15px;
    cursor: pointer;
    opacity: 0.3;
    &.active{
      opacity: 1;
    }
  }
  &__archive{
    color: $attention;
    border-bottom: 1px solid $attention;
    margin-right: 27px;
    padding: 2px 15px;
    cursor: pointer;
    opacity: 0.3;
    &.active{
      opacity: 1;
    }
  }
  &__add{
    padding: 13px 20px;
    border: 1px solid $attention;
    background: $attention;
    color: $white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 4px;

    svg{
      margin-right: 10px;
    }
  }
}

