@import "../var";

.task {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 35px;
  align-items: flex-start;
  &__filter {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
  }
  &__filter-group {
    width: 25%;
    padding-right: 30px;
    display: flex;
    align-items: center;
    position: relative;
    >.task__filter-group{
      padding-right: 0;
      width: 100%;
    }

    >div{
      width: 100%;
    }
    input,
    .vue-dynamic-select {
      width: 100% !important;
      padding: 10px 15px;
      padding-top: 13px;
      display: block;
    }
    .result-list{
      top: 113%;
    }
    .selected-option{
      top: 13px;
    }
    input{
      background: $white;
      border: 1px solid $Light9;
      box-sizing: border-box;
      border-radius: 5px;
    }
    label.label{
      position: absolute;
      top: 10px;
      left: 15px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: $light8;
      transition: 0.2s;
      user-select: none;
      width: auto;
      &.focus{
        top: 0;
        font-size: 11px;
        line-height: 15px;
      }
    }
    label{
      display: flex;
      width: 100%;
      input{
        width: 18px !important;
        height: 18px !important;
        margin-right: 10px;
      }
    }
    .task__filter-title{
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      color: $gray6;
      padding: 0 !important;
      width: auto !important;
      margin-right: 25px;
    }
    .placeholder{
      display: none !important;
    }
  }
  &__card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: auto;
    height: calc(100% - 200px);
    overflow: auto;
    width: 100%;
  }
  &__card {
    width: 25%;
    padding-right: 30px;
    margin-bottom: 20px;
    h3{
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      color: $light8;
      margin-bottom: 10px;
    }
  }
  &__card-body{
    background: $white;
  }
  &__card-head {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    border: 1px solid $bg;
    margin-bottom: 12px;
    cursor: pointer;
    svg{
      transform: rotate(180deg);
      &.active{
        transform: rotate(0deg);
      }
    }
  }
  &__card-img{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .no-img{
      width: 100%;
      height: 100%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $attention;
    }
  }
  &__card-name{
    margin-right: auto;
    p{
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      color: $black;

    }
    span{
      font-size: 11px;
      font-weight: 400;
      line-height: 15px;
      color: $gray6;

    }
  }
  &__body {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    &.active{
      padding-bottom: 20px;
    }
  }

  &__body-title {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: $light8;
    padding: 0 20px;
    margin-bottom: 6px;
  }

  &__body-worked {
    margin: 0 20px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #29cc9733;
    height: 100%;
    &.active{
      padding: 10px 15px;
      margin-bottom: 20px;
    }
    &.pause{
      background: $bg;
      margin-top: 20px;

    }
  }

  &__body-pause {
    margin-right: 20px;
    cursor: pointer;
  }

  &__body-work-name {
    margin-right: auto;
    p {
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      color: $attention;
      margin-bottom: 10px;
      &.active{
        margin-bottom: 0;
      }
    }

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: $gray4;
      border-bottom: 1px solid #B4B8CC;
      cursor: pointer;
    }
  }

  &__body-time {
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: $attention;
      text-align: right;
      margin-bottom: 8px;
      display: block;
      &.active{
        margin-bottom: 0;
      }
    }

    button {
      border: none;
      background: none;
      margin-left: 13px;
      cursor: pointer;
    }
  }

  &__body-not-worked {
    padding: 2px 15px;
    background: #f5c54426;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $wait;
    cursor: pointer;
    svg{
      margin: 0 8px;
      &.active{
        transform: rotate(180deg);
      }
    }
  }
  &__body-no-tasks{
    background: #e5375080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    border-radius: 5px;
    margin:0 15px;
    margin-bottom: 20px;

    p{
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      color: $white;
    }
    button{
      border: none;
      border-bottom: 1px solid $white;
      color: $white;
      background: none;
      //styleName: H5;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  &__btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    button{
      padding: 13px 20px;
      border: 1px solid $attention;
      background: $attention;
      color: $white;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      border-radius: 4px;
      cursor: pointer;
      white-space: nowrap;
      svg{
        margin-right: 10px;
      }
    }
  }
}