@import "../var";
.addTask{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__info{
    width: calc(32% - 15px);
    margin-bottom: 30px;
  }
  &__user-body,
  &__info-body{
    box-shadow: 0px 1px 2px rgba(9, 45, 147, 0.1);
    border-radius: 4px;
    display: flex;
    background: $white;
    margin-right: 15px;
    padding: 30px 30px 35px 35px;
    width: 100%;
    flex-wrap: wrap;
  }
  &__user-title,
  &__info-title{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: $gray6;
    margin-bottom: 25px;
    width: 100%;
  }
  &__info-group{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    input{
      width: 100% !important;
      margin: 0;
      display: block;
      border: 1px solid $Light9;
      padding: 16px 15px 10px 15px;
      border-radius: 5px;
      &::placeholder{
        color: $light8;
      }
      &.invalid{
        border: 1px solid $error;
        +.label,
        &::placeholder{
          color: $error;
        }
      }
      &:focus {
        +.label{
          top: 0;
          font-size: 11px;
          line-height: 15px;
        }
      }
    }
    input[type="radio"]{
      width: 14px !important;
      height: 14px;
      margin-right: 10px;
    }
    .selected-option{
      top: 13px;
    }
    .label__radio{
      position: unset;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: $black;
      margin-right: auto;

      &.focus{
        font-size: 14px;
        line-height: 20px;
      }
    }
    .label{
      position: absolute;
      top: 13px;
      left: 15px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: $light8;
      transition: 0.2s;
      user-select: none;
      &.focus{
        top: 0;
        font-size: 11px;
        line-height: 15px;
      }
    }
    .error{
      color: $error;
    }
  }




  &__user{
    width: calc(68% - 15px);
    margin-bottom: 30px;
    margin-left: 30px;
  }
  &__user-tab{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;

    button{
      background: none;
      border: none;
      border-bottom: 1px solid $light8;
      color: $light8;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      padding: 0 70px;
      padding-bottom: 10px;

      &.active{
        border-bottom: 1px solid $attention;
        color: $attention;
      }
    }

  }
  &__user-container{
    width: 100%;
  }
  &__user-group{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    label{
      display: flex;
      align-items: center;
      width: 25%;
      input{
        margin-right: 13px;
      }
      p{
        margin-left: 15px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        color: $black;
      }
    }
  }
  &__user-noImg{
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background: #000;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

}
