@import "../var";
.user__add{
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  &-info{
    width: 50%;
    padding-right: 15px;
    &-form{
      height: 100%;
      width: 100%;
      padding: 40px 45px;
      background: $white;
      form{
        display: flex;
        flex-wrap: wrap;
      }
      h2{
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  &-group{
    width: 50%;
    display: block;
    position: relative;
    label{
      color: $gray6;
    }
    .visible{
      position: absolute;
      right: 15px;
      height: 100%;
      width: 20px;
      display: flex;
      align-items: center;
      top: 0;
      cursor: pointer;
      svg{
        width: 20px;
        height: 20px;
      }
    }
    &:nth-child(odd){
      padding-right: 10px;
    }
    &:nth-child(even){
      padding-left: 10px;
    }
    span{
      width: 100%;
    }
    .error{
      color: $error;
      margin-top: -5px;
      display: block;
      +.visible{
        top: -6px;
      }
    }
    &.user__add-group span{
      &.invalid{
        input{
          border: 1px solid $error;
          &::placeholder{
            color: $error;
          }
        }

      }
    }
    .vue__time-picker input.display-time{
      width: 100% !important;
      margin: 7.5px 0px;
      display: block;
      border: 1px solid $Light9;
      padding: 10px 15px !important;
      border-radius: 5px !important;
    }
    select,
    input{
      width: 100% !important;
      margin: 7.5px 0px;
      display: block;
      border: 1px solid $Light9;
      padding: 10px 15px;
      border-radius: 5px;
      &::placeholder{
        color: $light8;
      }
      &.invalid{
        border: 1px solid $error;
        &::placeholder{
          color: $error;
        }
      }
    }
    .vue__time-picker .controls>*{
      padding-right: 15px;
    }
    .vue__time-picker .dropdown ul li:not([disabled]).active, .vue__time-picker .dropdown ul li:not([disabled]).active:focus, .vue__time-picker .dropdown ul li:not([disabled]).active:hover{
      background: $attention;
    }
    .hint{
      display: none;
    }
    .vue__time-picker .dropdown{
      top: calc(2.2em + 10px);
    }
  }
  &-workDays{
    width: 50%;
    padding-left: 15px;
    &-form{
      height: 100%;
      width: 100%;
      padding: 40px 45px;
      background: $white;

      form{
        display: flex;
        flex-wrap: wrap;
      }
      h2{
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  &-submit{
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
    .cancel{
      color: $error;
      font-size: 14px;
      border: 1px solid $error;
      border-radius: 3px;
      padding: 10px 45px;
      cursor: pointer;
    }
    .add{
      color: $white;
      background: $attention;
      font-size: 14px;
      border-radius: 3px;
      padding: 10px 45px;
      border: none;
      margin-left: 40px;
      cursor: pointer;
    }
  }
  &-checkbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    input{
      display: none;
    }
    label{
      display: block;
      border: 1px solid $Light9;
      padding: 10px 15px;
      border-radius: 5px;
      margin-right: 10px;
    }
    input:checked + label{
      background: $attention;
      color: $white;
    }
    .error{
      margin-top: 5px;
      color: $error;
      width: 100%;
    }
  }
}
