@import "../var.scss";

.settings {
  padding: 30px 40px;
  background: $white;
  &__smallTitle {
    color: $gray6;
  }
  &__container__image {
    width: 14.9%;
  }
  &__container__credentials {
    width: 85.1%;
    display: flex;
    flex-wrap: wrap;
  }
  &__container-group {
    width: 33.33%;
    padding: 10px 20px;
    input {
      width: 100%;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      padding: 10px 15px;
      border: 1px solid $Light9;
      border-radius: 5px;
    }
  }
  &__container {
    display: flex;
    &-no-image {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 40px;
    }
    &-image-icon {
      position: absolute;
      height: 22px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .user_image {
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      width: 100px;
      height: 100px;
      margin-top: 10px;
      svg {
        fill: $white;
      }
    }
  }
  &__file {
    display: none;
  }
}
