@import "../var";
.about {
  &__app {
  }
  &__body {
  }
  &__user-img{
    width: 50px;
    height: 50px;
    background: #000;
    margin-right: 10px;
    color: $white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;

  }
  &__info {
    display: flex;
    border-bottom: 1px solid #cbcfe6;
    padding-bottom: 7px;
    margin-top: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #b4b8cc;
  }
  &__info-user-name {
    width: 25.57%;
    padding-left: 45px;
  }
  &__info-user-rol {
    width: 19.55%;
  }
  &__info-user-email {
    width: 26.05%;
  }
  &__info-user-tel {
    width: 28.88%;
  }
  &__container {
    padding-top: 20px;
  }
  &__add {
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(9, 45, 147, 0.1);
    border-radius: 3px;
    padding: 10px 0;
    margin-bottom: 5px;
    form {
      width: 100%;
      display: flex;
      align-items: center;
      input {
        background: #ffffff;
        border: 1px solid #cbcfe6;
        border-radius: 5px;
        height: 42px;
        width: 80%;
        padding-left: 15px;
        outline: 0;
        box-shadow: none;
        &::placeholder {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 140%;
          color: #b4b8cc;
        }
      }
      button {
        padding: 10px 45px;
        background: #4473f6;
        border-radius: 3px;
        border: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #ffffff;
        outline: 0;
        cursor: pointer;
      }
    }
  }
  &__card {
    display: flex;
    padding: 14px 0;
    background: #ffffff;
    box-shadow: $bs;
    border-radius: 3px;
    margin-bottom: 5px;
    position: relative;
    transition: all 0.2s;
    &:hover{
      box-shadow: $bsactive;
    }
    .about{
      &__info-user-name,
      &__info-user-rol,
      &__info-user-email,
      &__info-user-tel{
        align-items: center;
        display: flex;
      }
      &__info-user-name{
        align-items: center;
        display: flex;
        img{
          margin-right: 10px;
        }
      }
    }

    .about__info-user-edit{
      display: flex;
      align-items: center;
      position: absolute;
      right: 55px;
      height: 100%;
      top: 0;
      button{
        border: none;
        outline: none;
        margin-left: 25px;
        background: none;
        cursor: pointer;
      }
    }
  }
}